<!doctype html>
<head>
	<title>My First Flask Website</title>
	<link href="/static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
	<h1>Bonjour tout je monde french est poep</h1>
	<strong><p>
		AU REVOir
	</p></strong>
  <img
  src="https://th.bing.com/th/id/OIP.7U_jXgZxASYz05IgOK0NAQHaEK?pid=ImgDet&rs=1" width="300px">
  <br>
  <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">PRENK</a>
  <ul>
    <li>Revenant</li>
    <li>Spirit</li>
    <li>Demon</li>
    <li>Goryo</li>
  </ul>
  <table border="1px">
    <tr>
      <td>Ghost</td>
      <td>Violent</td>
    </tr>
    <tr>
      <td>Revenant</td>
      <td>U R ded</td>
  </table>
</body>